{{!-- {{> lovedChamps}}
{{> hatedChamps}}

{{#if listExists}}
<ul>
    {{#each suggestedChamps}}
    <li class={{this.lane}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}} --}}



<div class="jumbotron">
    <div class="success-message">
        <h1>Registration Successful for {{firstName}} {{lastName}}</h1>
        <p>Thank you for registering! Your account has been successfully created.</p>
        <p>You can now log in to access your account with email address {{email}}.</p>
    </div>

</div>