{{!-- {{> lovedChamps}}
{{> hatedChamps}}

{{#if listExists}}
<ul>
    {{#each suggestedChamps}}
    <li class={{this.lane}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}} --}}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
    <div class="success-message">
        <h1>Registration Successful for {{firstName}} {{lastName}}</h1>
        <p>Thank you for registering! Your account has been successfully created.</p>
        <p>You can now log in to access your account with email address {{email}}.</p>
    </div>

</div>
</body>
</html>